<!DOCTYPE html>
<!--
    Autor: Lucas Sampaio;
    RA: 21200671;
    Tema: Maratona (Quiz Mania: Maratona)
-->

<html lang="pt-br" xmlns="http://www.w3.org/1999/html">

    <head>
        <!-- Metatags -->
        <meta charset="UTF-8">
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="../../img/favicon.ico" />

        <title>Configuração - Quiz Mania: Maratona</title>

        <!-- Fontes -->
        <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Roboto:400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700" rel="stylesheet">

        <!-- Folha de estilo -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="../../CSS/estilo.css" rel="stylesheet">
        <link href="../../CSS/estilo-login.css" rel="stylesheet">
    </head>

    <body>
        <main>
            <!-- Menu -->
            <header class="header">
                <a class="logo" title="Home: Quiz Mania - Maratona" href="index.html">
                    <img id="logo" src="../../img/cabecalho.png" alt="QuizMania">
                </a>
                
                <div class="nav">
                    <ul>
                        <li><a href="index.html" title="Home">Home</a></li>
                        <li><a href="acessoAluno.html" title="Acesso do Aluno">Acesso do Aluno</a></li>
                        <li><a href="cadastrar.html" title="Cadastrar">Cadastrar</a></li>
                        <li><a href="login.html" title="Login">Logout</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Configurações
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="../action/listarAlunos.php">Lista de Alunos</a>
                                <a class="dropdown-item" href="#">Ranking</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="container">
                <article>
                    <section>
                        <form action="../action/respquestao.php" method="post">
                            <div class="descricao">
                                <h3>Informe abaixo a sua pergunta:</br></h3>
                                <textarea rows="10" cols="100" name="descricao" placeholder="Ex: Quanto foi criado o PHP? "></textarea><br/>
                            </div>
                            <div class="alternativas">
                                    <h5> Informe a alternativa correta:</h5><br/>
                                <div class="row-left">
                                    <label class="info">Informe o primeiro valor:</label>
                                    <label class="info">Informe o segundo valor:</label>
                                    <label class="info">Informe o terceiro valor:</label>
                                    <label class="info">Informe o quarto valor:  </label>
                                    <label class="info">Informe a alternativa correta:</label>
                                </div>
                                <div class="row-right">
                                    <input type="text" class="questao" name="alternativaA" placeholder="Ex: A" maxlength="30">
                                    <input type="text" class="questao" name="alternativaB" placeholder="Ex: B" maxlength="30">
                                    <input type="text" class="questao" name="alternativaC" placeholder="Ex: C" maxlength="30">
                                    <input type="text" class="questao" name="alternativaD" placeholder="Ex: D" maxlength="30">
                                    <input type="text" class="questao" name="resposta" placeholder="Resposta das alternativas" maxlength="1">
                                    <button class="btn btn-primary" id="enviar" type="submit" value="Enviar" name="questao">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </article>
            </div>
            <footer>
                <p>Quiz Maniz - Anhembi Morumbi 2019</p>
                <p><small>&copy Copyright 2019 - Quiz Mania todos os direitos reservados </small></p>
            </footer>
            <script src="..JS/comportamento.js"></script>
        </main>
    </body>

</html>