<!DOCTYPE html>
<!--
    Autor: Lucas Sampaio;
    RA: 21200671;
    Tema: Maratona (Quiz Mania: Maratona)
-->

<html lang="pt-br">

    <head>
        <!-- Metatags -->
        <meta charset="UTF-8">
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="../../img/favicon.ico" />
        
        <title>Home - Quiz Mania: Maratona</title>

        <!-- Fontes -->
        <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Roboto:400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700" rel="stylesheet">

        <!-- Folha de estilo-->
        <link href="../../CSS/estilo.css" rel="stylesheet" />

    </head>

    <body>
        <main>
            <!-- Cabeçalho + Menu -->
            <header class="header">
                <a class="logo" title="Home: Quiz Mania - Maratona" href="index.html">
                    <img id="logo" src="../../img/cabecalho.png" alt="QuizMania">
                </a>
               
                <!-- Menu -->
                <div class="nav">
                    <ul>
                        <li><a href="index.html" title="Home">Home</a></li>
                        <li><a href="acessoAluno.html" title="Acesso do Aluno">Acesso do Aluno</a></li>
                        <li><a href="login.html" title="Login">Login</a></li>
                        <li><a href="cadastrar.html" title="Cadastrar">Cadastrar</a></li>

                    </ul>
                </div>
            </header>

            <!--
                <a id="logo" href="index.php">
                    <img src="img/slogan-quiz-mania-%5BRecuperado%5D.png" alt="QuizMania"> 
                </a>
                -->
            <article>
                <!-- Conteúdo -->
                <section id="principal">

                    <h3>SOBRE</h3>
                    <p>O jogo maratona é voltado para diversos tipos de público. Trás uma idéia de interação, sendo uma
                        forma diferente de fazer perguntas do conhecimento adquirido em sala de aula.</p>
                    <p>Porém, é de grande importancia que os alunos participem, buscando avaliar seu conhecimento, do
                        assunto que foi ministrado pelo professor, de uma diferente: "brincando".</p>
                </section>
                <!-- Regras do Jogo -->
                <section id="regras">
                    <h3>Informações sobre as regras</h3>

                    <p>Maratona é fácil de ser entendido e jogado, pois são poucas regras.
                        <br> Abaixo veremos algumas regras básica do jogo que são são as seguintes:</p>

                    <h4>REGRAS GERAIS</h4>
                    <ol>
                        <li><a>
                                O professor ira cadastrar as perguntas, para que o jogo possa ser iniciado.
                            </a>
                        </li>
                        <li><a>
                                Os alunos entram na sala que o professor criou com as perguntas, e as responde.
                            </a>
                        </li>
                        <li>
                            <a>
                                Por fim, ao terminar terá um ranking com as pontuações será exibida.
                            </a>
                        </li>
                    </ol>

                    <h4>REGRAS DE PONTUAÇÃO</h4>
                    <ol>
                        <li><a>
                                O primeiro a acertar ganha 5 pontos.
                            </a>
                        </li>
                        <li><a>
                                O restante que acertar ganha 3 pontos.
                            </a>
                        </li>
                        <li><a>
                                O que não acertar a questão, também ganhará ponto. Porém, só será 1 ponto, por participação.
                            </a>
                        </li>
                        <li>
                            Para saber o resultado no ranking, será somado, todos os pontos feitos com as perguntas respondidas,
                            e mostrado em um gráfico, na ordem da maior pontuação para a menor.
                        </li>
                    </ol>
                </section>
            
            </article>
            
            <!-- Rodapé -->
            <footer>
                <p>Quiz Maniz - Anhembi Morumbi 2019</p>
                <p><small>&copy Copyright 2019 - Quiz Mania todos os direitos reservados </small></p>
            </footer>
        </main>

        <!-- script do site -->
        <script src="comportamento.js"></script>
    </body>

</html>