<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Mania: Maratona - Aluno</title>
</head>
<body>
    <header class="header">
        <a class="logo" title="Home: Quiz Mania - Maratona" href="index.html">
            <img id="logo" src="../../img/cabecalho.png" alt="QuizMania">
        </a>

        <div class="nav">
            <ul>
                <li><a href="index.html" title="Home">Home</a></li>
                <li><a href="acessoAluno.html" title="Acesso do Aluno">Acesso do Aluno</a></li>
                <li><a href="cadastrar.html" title="Cadastrar">Cadastrar</a></li>
                <li><a href="login.html" title="Login" onclick="">Logout</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configurações
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Alunos</a>
                        <a class="dropdown-item" href="#">Ranking</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section>

    </section>
</body>
</html>